body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav {
    margin: 20px 0;
    text-align: center;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}
.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.portfolio-section h2 {
    text-align: center;
}
.portfolio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-item {
    margin-bottom: 20px; /* Espaçamento entre os itens do portfólio */
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px; /* Espaçamento entre a imagem e o texto */
}

.portfolio-item p {
    text-align: justify;
    margin: 0; /* Remove margens extras ao redor do parágrafo */
}

.contact {
    text-align: center;
}
.contact form {
    max-width: 400px;
    margin: 0 auto;
}
.contact form input,
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}
.contact form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
.portfolio h2 {
    margin-bottom: 20px;
}

.titulo {
    text-align: center;
}